.body {
    background-image: url(/public/register.jpg);
    background-size: cover; /* Adjust the size as needed */
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0; 
    /* background-color: #701919;  */
  }
  

.forget-form-container {
    width: 600px;
    height: 400px;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
  }
  
  .forget-form-container-h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .forget-form-container-p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .forget-form-container-form {
    display: flex;
    flex-direction: column;
  }
  
  .forget-form-container-label {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .forget-form-container-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .forget-form-container-button {
    padding: 12px 180px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forget-form-container-button:hover {
    background-color: #01060b;

  }
